.InputContainer{

        display: flex;
        flex-direction: column;
        margin:2rem 0 0 2rem;
        max-width: 80%;
        
        .label{
         padding-bottom: 0.5rem;
        }
        .Error{
                color: red;
                font-size: 0.9rem;
        }

        .input{
        outline:none;
        border: none;
        height: 40px;
        border-bottom: 1px solid black;
        font-size: 1.2rem;
        padding:0;

        &:focus{
        border-bottom: 1px solid #2979ff;

        }
}
}